{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Gallinas
{% endblock titulo %}

{% block contenido %}

    {% load static %}

    <div class="col-md my-4 py-2 text-center title"
        style="border: 2px solid var(--colorsec2); color: var(--colorsec2);">
        <h3>LOTE DE GALLINAS</h3>
    </div>

    <div class="row mt-3 mb-3 container-fluid mx-auto" style="gap: 20px;">

        <div class="col-md" style="border: 1px solid;border-radius: .5rem;">
            {% include 'search.html' %}
        </div>

        <div class="col-md" style="border: 1px solid; border-top-right-radius: .5rem; border-radius: .5rem;">
            <div class="row text-center" style="margin: 2rem 0;">
                <div class="col-md col-sm">
                    <button class="btn btn-outline-secondary my-3" style="border: 2px solid" onclick="abrirModalCrear('{% url 'crear_gallinas' %}')" role="button">
                        REGISTRAR <i class="bi bi-plus-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mb-3 container-fluid card" style="height: 20rem; border: 1px solid; border-radius: .5rem;width: 97%;">
        <div class="table-responsive">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th scope="col">Galpón</th>
                        <th scope="col">Capacidad</th>
                        <th scope="col">Linea</th>
                        <th scope="col">Cantidad de gallinas</th>
                        <th scope="col">Peso promedio (Kg)</th>
                        <th scope="col">Edad en semanas</th>
                        <th scope="col">Procedencia</th>
                        <th scope="col">Fecha ingreso</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                {% if gallinas %}
                    <tbody>
                        {% for dato in gallinas %}
                            <tr>
                                <td>{{ dato.id_galpon }}</td>
                                <td>{{ dato.cantidad_gallinas }}</td>
                                <td>{{ dato.id_linea }}</td>
                                <td>{{ dato.cantidad_gallinas }}</td>
                                <td>{{ dato.peso_promedio }}</td>
                                <td>{{ dato.edad_sem }}</td>
                                <td>{{ dato.procedencia }}</td>
                                <td>{{ dato.fecha_ingreso }}</td>
                                <td>
                                    <button class="btn btn-outline-success my-1" onclick="abrirModalEditar('{% url 'editar_gallinas' dato.id %}')" role="button">Editar</button>
                                    {% if user.is_staff %}
                                        <button class="btn btn-outline-danger my-1" onclick="abrirModalEliminar('{% url 'confirmElimGallinas' dato.id %}')" role="button">Eliminar</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                {% else %}
                    <tbody></tbody>
                {% endif %}
            </table>
        </div>
    </div>

    <div class="row container-fluid text-end my-4">
        <div class="col-md col-sm">
          <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary" style="border: 2px solid">EXPORTAR <i class="bi bi-file-earmark-arrow-down"></i></button>
          </form>
        </div>
    </div>

    <div class="modal fade" id="crear" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    </div>

    <div class="modal fade" id="editar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    </div>

    <div class="modal fade" id="eliminar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    </div>

{% endblock contenido %}