<div class="modal-body"> 
    <div class="row">
    {% csrf_token %}
        {% for campo in form %}
            {% if campo.label == 'Galpon' or campo.label == 'Tipo alimento' %}
                <div class="col-6 mb-3">
                    <label class="form-label">{{ campo.label }}</label>
                    <select class="form-select" id="{{campo.name}}" name="{{ campo.name }}" value="{{ campo.value | default:''}}" oninput="galponDataForm();">
                        {% for select in campo %}
                            {{select}}
                        {% endfor %}
                    </select>
                    <div id="errores{{campo.name}}">

                    </div>
                </div>
            {% else %}
                <div class="col-6 mb-3">
                    <label class="form-label">{{ campo.label }}</label>
                    <input
                        type="{{campo.field.widget.input_type}}"
                        id="{{campo.name}}"
                        class="form-control {{ campo.name }} readOnly" 
                        name="{{ campo.name }}"
                        aria-describedby="helpId"
                        placeholder="{{campo.label}}"
                        {% if object.id %}
                            value="{{ campo.value | default:'0'}}"
                        {% else %}
                            value="{{ campo.value | default:''}}"
                        {% endif %}
                        readonly
                        step="0.01"
                    />
                    <div id="errores{{campo.name}}">

                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>