{% extends 'base_int.html' %}
{% load static %}

{% block titulo %}
    Interfaz
{% endblock titulo %}

{% block contenido %}

    {% load static %}
    {% if not user.is_staff %}
        <div class="container-fluid text-center mb-4 main">
            <div class="row justify-content-evenly">
                <div class="col-lg-12 col-md-3 col-sm-5 modulos">
                    <a href="{% url 'galpones' %}">
                        <div class="col">
                            <h5>Galpones</h5>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/modulos/img_galpones.png' %}" alt="Imagen Galpones">
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-5 modulos">
                    <a href="{% url 'gallinas' %}">
                        <div class="col">
                            <h5>Lote de Gallinas</h5>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/modulos/img_gallinas.png' %}" alt="Imagen Gallinas">
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-5 modulos">
                    <a href="{% url 'produccion_diaria' %}">
                        <div class="col">
                            <h5>Producción diaria</h5>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/modulos/img_huevos.png' %}" alt="Imagen Huevos">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row justify-content-evenly">
                <div class="col-md-3 col-lg-2 col-sm-5 modulos">
                    <a href="{% url 'alimentacion' %}">
                        <div class="col">
                            <h5>Alimentación</h5>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/modulos/img_alimentacion.png' %}" alt="Imagen Alimentación">
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-5 modulos">
                    <a href="{% url 'mortalidad_descarte' %}">
                        <div class="col">
                            <h5> Mortalidad y descarte</h5>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/modulos/img_mortalidad.png' %}"
                            alt="Imagen Mortalidad y descarte">
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-5 modulos">
                    <a href="{% url "registro_diario" %}">
                        <div class="col">
                            <h5>Registro diario</h5>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/modulos/img_datos.png' %}"
                            alt="Imagen Datos Generales">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid text-center mb-4 main">
            <div class="row justify-content-evenly">
                <div class="col-md-3 col-lg-2 col-sm-5 my-4 modulos_admin">
                    <a href="{% url 'galpones' %}">
                        <div class="col">
                            <h5>Galpones</h5>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/modulos/img_galpones.png' %}" alt="Imagen Galpones">
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-5 my-4 modulos_admin">
                    <a href="{% url 'gallinas' %}">
                        <div class="col">
                            <h5>Lote de Gallinas</h5>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/modulos/img_gallinas.png' %}" alt="Imagen Gallinas">
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-5 my-4 modulos_admin">
                    <a href="{% url 'alimentacion' %}">
                        <div class="col">
                            <h5>Alimentación</h5>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/modulos/img_alimentacion.png' %}" alt="Imagen Alimentación">
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-5 my-4 modulos_admin">
                    <a href="{% url 'produccion_diaria' %}">
                        <div class="col">
                            <h5>Producción diaria</h5>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/modulos/img_huevos.png' %}"
                            alt="Imagen Datos Generales">
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-5 my-4 modulos_admin">
                    <a href="{% url 'mortalidad_descarte' %}">
                        <div class="col">
                            <h5>Mortalidad y descarte</h5>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/modulos/img_mortalidad.png' %}"
                            alt="Imagen Mortalidad y descarte">
                        </div>
                    </a>
                </div>
            </div>
            <div class="row justify-content-evenly">
                <div class="col-md-3 col-lg-2 col-sm-5 my-4 modulos_admin">
                    <a href="{% url 'lineas' %}">
                        <div class="col">
                            <h5>Lineas</h5>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/modulos/linea.png' %}" alt="Imagen Alimentación">
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-5 my-4 modulos_admin">
                    <a href="{% url 'tipos_huevos' %}">
                        <div class="col">
                            <h5>Tipos de huevos</h5>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/modulos/tipos_huevos.png' %}"
                            alt="Imagen Datos Generales">
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-5 my-4 modulos_admin">
                    <a href="{% url 'fichas' %}">
                        <div class="col">
                            <h5>Fichas</h5>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/modulos/ficha.png' %}" alt="Imagen Gallinas">
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-5 my-4 modulos_admin">
                    <a href="{% url 'usuarios' %}">
                        <div class="col">
                            <h5>Usuarios</h5>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/modulos/usuarios.png' %}"
                            alt="Imagen Datos Generales">
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2 col-sm-5 my-4 modulos_admin">
                    <a href="{% url "registro_diario" %}">
                        <div class="col">
                            <h5>Registro diario</h5>
                        </div>
                        <div class="col">
                            <img src="{% static 'images/modulos/img_datos.png' %}"
                            alt="Imagen Datos Generales">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock contenido %}