<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <form id="formCreacion" action="{% url 'crear_usuario' %}" enctype="multipart/form-data" method="POST">
      <div class="modal-header">
        {% load static %}
        <h3 class="modal-title">Crear usuario</h3>
        <img class="ml-3" src="{% static 'images/sena_logo.png' %}" alt="Logo Sena" style="width: 4rem">
      </div>
      {% include 'usuarios/form.html' %}
      <div class="modal-footer text-center">
        <button class="btn btn-outline-success" type="button" onclick="registrar();">Confirmar</button>
        <a role="button" class="btn btn-outline-danger" onclick="cerrarModalCrear();">Cancelar</a>
      </div>
    </form>
  </div>
</div>