<div class="modal-body">
  {% csrf_token %}
  <div class="row mx-auto">
    {% for user in form %}
      {% if user.name == 'password' or user.name == 'is_staff' or user.name == 'is_active' %}
        {% if user.name == 'password' %}
          <input class="form-control" type="hidden" name="{{user.name}}" value="{{user.value}}">
        {% endif %}
        {% if user.name == 'is_active' %}
          <input class="form-check-input" name="{{user.name}}" type="hidden" value="1" checked>
        {% endif %}
        {% if user.name == 'is_staff' %}
          <input class="form-check-input" id="{{user.name}}" name="{{user.name}}" type="hidden" value="{{user.value}}" onchange="AdminUser();" {% if form.id_rol.value == 1 %}checked{% endif %}>
        {% endif %}
      {% else %}
        <div class="mx-auto col-6 mb-3">
          <label for="" class="form-label">{{ user.label }}</label>
          {% if user.name == 'id_ficha' or user.name == 'id_tipo_doc' or user.name == 'id_rol' %}
            <select class="form-select" name="{{ user.name }}" id="{{user.name}}" onchange="AdminUser();">
              {% for select in user %}
                {{ select }}
              {% endfor %}
            </select>
            <div class="col-6 help-text">{{ user.errors }}</div>
        {% else %}
          <input
          type="{{ user.field.widget.input_type }}"
          class="form-control"
          name="{{ user.name }}"
          value="{{ user.value | default:''}}"
          aria-describedby="helpId"
          placeholder="{{ user.label }}"
          {% if user.field.widget.input_type == 'file' %}
            accept=".png, .jpg, .jpeg"
          {% endif %}/>
          <div class="col-6 help-text">{{ user.errors }}</div>
          {% endif %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>