.content {
    align-items: center;
}

.container-fluid .nav-item {
    position: absolute;
}

.container-fluid .nav-item .dropdown-menu {
    position: absolute;
}

.container-fluid .nav-item .dropdown-menu .menu {
    margin-left: .5rem;
    display: block;
    width: 90%;
    color: #000;
    transition: .3s all ease-in-out;
    border-radius: .3rem;
}

.container-fluid .nav-item .dropdown-menu .menu:hover {
    background: #39aa00;
    color: white;
    letter-spacing: 2px;
}

.container-fluid .col-md a span {
    color: #000;
}

div a {
    text-decoration: none;
}

.formPassword {
    box-shadow: 0px 0px 10px 1px gray;
    padding: 1rem;
    border-radius: .5rem;
}

.divPassword {
    display: flex;
    justify-content: center;
}


.modulos {
    margin-bottom: 1rem;
    height: 12rem;
    width: 12rem;
    border: 2px solid var(--colorsec3);
    border-radius: .5rem;
    transition: .3s ease-in-out;
    user-select: none;
}

.modulos_admin {
    width: 10rem;
    height: 10rem;
    transition: .3s ease-in-out;
    border: 2px solid var(--colorsec3);
    border-radius: .5rem;
}

.modulos a .col h5,
.modulos_admin a .col h5 {
    width: 100%;
    height: 100%;
    color: var(--colorsec3);
}

.modulos:hover,
.modulos_admin:hover {
    letter-spacing: 1.5px;
    transform: translateY(-.5rem);
    box-shadow: 3px 7px 7px 1px gray;
}

.modulos:hover a,
.modulos_admin:hover a {
    width: 100%;
    height: 100%;
    display: block;
}

.modulos a img,
.modulos_admin a img {
    width: 80%;
    height: 80%;
    transition: .3s ease-in-out;
}

.modulos:hover a img,
.modulos_admin:hover a img {
    transform: scale(0.9);
}