.content {
    align-items: center;
}

.typing {
    color: var(--colorsec3);
    font-weight: 500;
    width: 7ch;
    border-right: 3px solid;
    white-space: nowrap;
    font-family: monospace;
    overflow: hidden;

    animation: teclear 1s steps(7), efecto .5s step-end infinite alternate, tipografia 2s step-end infinite 1s;
    /* animation: teclear 1s steps(7); */
    /* * el primer tiempo es lo que dura la animacion, y el segundo el delay que tiene, en este caso, en la animacion "tipografia" */
    /* ? animation-delay: 0s, 0s, 1s; se puede de esta manera pero mejor es cuando se pone en la misma animacion */
}

@keyframes teclear {
    from {
        width: 0
    }
}

@keyframes tipografia {
    0% {
        font-family: monospace;
    }

    25% {
        font-family: Courier;
    }

    50% {
        font-family: sans-serif;
    }

    75% {
        font-family: Calibri;
    }

    100% {
        font-family: 'Work Sans', sans-serif;
    }
}

@keyframes efecto {
    50% {
        border-color: transparent;
    }
}

.formPswrd {
    box-shadow: 0px 0px 10px 1px gray;
    padding: 1rem;
    border-radius: .5rem;
    width: 50%;
}

.form-control:focus,
.form-control:active {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .1);
}

.form-password {
    width: 50%;
    box-shadow: 0px 0px 10px 1px gray;
    padding: 1rem;
    border-radius: .5rem;
}

.input-group-text {
    width: 3rem;
    border-radius: 50%;
    background-color: white;
}

.input-group {
    height: 3rem;
    width: 25rem;
    border-radius: 3rem;
}

.olvidar {
    color: black;
    text-decoration: none;
    transition: .2s;
}

.olvidar:hover {
    color: var(--colorprin);
}

.form-control {
    border-radius: 30px;
}

a {
    text-decoration: none;
}

.imagen-sesion {
    margin-top: 3rem;
}

.carousel-inner {
    border-radius: .5rem;
}

@media (max-width:768px) {
    .carrusel {
        display: none;
    }

    .input-group {
        width: 18rem;
    }

    form {
        padding-inline: 1rem;
    }

    .form-password {
        width: auto;
    }
}