<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      {% load static %}
      <h3 class="modal-title">Editar producción diaria</h3>
      <img class="ml-3" src="{% static 'images/sena_logo.png' %}" alt="Logo Sena" style="width: 4rem">
    </div>
    <form id="formEditarProdDiaria" action="{% url 'editar_prod_diaria' object.id %}" enctype="multipart/form-data" method="POST">
      {% include "prod_diaria/form.html" %}
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" onclick="EditarProdDiaria();">Confirmar</button>
        <button type="button" class="btn btn-outline-danger" onclick="cerrarModalEditar();">Cancelar</button>
      </div>
    </form>
  </div>
</div>