<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      {% load static %}
      <h3 class="modal-title">Editar Tipo de huevo</h3>
      <img class="ml-3" src="{% static 'images/sena_logo.png' %}" alt="Logo Sena" style="width: 4rem">
    </div>
    <form action="{% url 'editar_prod_diaria' object.id %}" enctype="multipart/form-data" method="post">
      {% include "prod_diaria/form.html" %}
      <div class="modal-footer">
        <input class="btn btn-outline-success" type="button" value="Enviar informacion">
        <a role="button" class="btn btn-outline-danger" onclick="cerrarModalEditar();">Cancelar</a>
      </div>
    </form>
  </div>
</div>