<div class="modal-body">
  {% csrf_token %}
  <div class="row">
    {% for prod in form %}
    {% if prod.label == 'Detalle de Jornada' or prod.label == 'Usuario' or prod.label == 'Tipo de huevo' or prod.label == 'Galpon' or prod.label == 'Jornada' %}
    <div class="col-6 mb-3">
      <label class="form-label">{{ prod.label }}</label>
      <select id="{{ prod.name }}" class="form-select" placeholder="{{ prod.label }}" name="{{ prod.name }}" value="{{ prod.value | default:''}}" {% if prod.name == 'id_jornada' %}onchange="selectJornada();"{% endif %}>
        {% for select in prod %}
          {{ select }}
        {% endfor %}
      </select>
      <div id="errores{{prod.name}}">

      </div>
    </div>
      {% else %}
        <div class="col-6 mb-3 order-last">
          <label class="form-label">{{ prod.label }}</label>
          <input
          style="display: flex"
          type="{% if prod.name == "fecha" %}Date{% else %}{{ prod.field.widget.input_type }}{% endif %}"
          id="{{ prod.name }}"
          class="form-control"
          name="{{ prod.name }}"
          value="{{ prod.value | default:'' }}"
          aria-describedby="helpId"
          placeholder="{{ prod.label }}"
          >
          <div id="errores{{prod.name}}">
            
          </div>
        </div>
      {% endif %}
    {% endfor %}
</div>