{% extends 'base_int.html' %}
{% load static %}

{% block titulo %}
    usuario
{% endblock titulo %}

{% block contenido %}
    
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/acercade.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </head>
    
    <!-- Agregar margen superior a los botones -->
    <div class="mb-4 d-flex justify-content-end" style="padding-right: 15px;"> <!-- Utilizar d-flex y justify-content-end para alinear los botones a la derecha -->
        <button type="button" class="btn btn-outline-success me-2" data-toggle="modal" data-target="#informacionModal">
            Información del Aplicativo
        </button>
        <button type="button" class="btn btn-outline-success" id="leaderBtn" data-toggle="modal" data-target="#instructorModal">Líder del Proyecto</button>
    </div>
    
    <div class="cards"> <!-- Utilizar justify-content-center para centrar las cards -->
        <div class="card d-flex align-items-center justify-content-center border-success custom-card col-md-4 mb-3" style="width: 30rem;">
            <h5 class="card-title">Jhonny Anderson Ordoñez Gomez</h5>
            <img src="{% static 'images/acercade/aprendiz01.png' %}" class="card-img-top imgUs" alt="...">
            <div class="card-body text-center">
                <p class="card-text">andersonordonez455@gmail.com</p>
            </div>
        </div>
        <div class="card d-flex align-items-center justify-content-center border-success col-md-4 mb-3" style="width: 30rem;">
            <h5 class="card-title">Angie Catherine Hoyos Velasco</h5>
            <img src="{% static 'images/acercade/aprendiz02.png' %}" class="card-img-top imgUs" alt="aprendiz">
            <div class="card-body text-center">
                <p class="card-text">katehoyos21@gmail.com</p>
            </div>
        </div>
        <div class="card d-flex align-items-center justify-content-center border-success col-md-4 mb-3" style="width: 30rem;">
            <h5 class="card-title">Manuel David Sanchez Solarte</h5>
            <img src="{% static 'images/acercade/aprendiz03.png' %}" class="card-img-top imgUs" alt="...">
            <div class="card-body text-center">
                <p class="card-text">manueldavid12534@gmail.com</p>
            </div>
        </div>
    </div>
{% endblock contenido %}

