<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <form class="formCrear" action="{% url 'crear_ficha' %}" enctype="multipart/form-data" method="post">
      <div class="modal-header">
        {% load static %}
        <h3 class="modal-title">Crear ficha</h3>
        <img class="ml-3" src="{% static 'images/sena_logo.png' %}" alt="Logo Sena" style="width: 4rem">
      </div>
      {% include "fichas/form.html" %}
      <div class="modal-footer text-center">
        <button class="btn btn-outline-success" type="button" onclick="registrar();">Confirmar</button>
        <button type="button" class="btn btn-outline-danger" onclick="cerrarModalCrear();">Cancelar</button>
      </div>
    </form>
  </div>
</div>