{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Registro diario
{% endblock titulo %}

{% block contenido %}

    {% load static %}

    <div class="col-md my-4 py-2 text-center title" style="border: 2px solid var(--colorsec2); color: var(--colorsec2);">
        <h3>REGISTRO DIARIO</h3>
    </div>
    
    <div class="row mt-3 mb-3 container-fluid mx-auto" style="gap: 20px;">
        <div class="col-md" style="border: 1px solid;border-radius: .5rem;">
            {% include 'search.html' %}
        </div>
    </div>
      
    {% if messages %}
        {% for message in messages %}
            <p class="alert {{ message.tags }} alert-dismissible fade show text-center mx-auto" style="width: 97%;">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </p>
        {% endfor %}
    {% endif %}
    
    <div class="mb-3 container-fluid card informacion">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead class="sticky-top bg-white">
                    <tr class="text-center">
                        <th scope="col">Nombre de galpón</th>
                        <th scope="col">Lote de gallinas</th>
                        <th scope="col">Alimentación</th>
                        <th scope="col">Producción Diaria</th>
                        <th scope="col">Mortalidad y Descarte</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                {% if registroDiario %}
                    <tbody class="text-center">
                        {% for dato in registroDiario %}
                            <tr>
                                <td>{{ dato.id_galpon }}</td>
                                <td>{{ dato.id_gallinas }}</td>
                                <td>{{ dato.id_alimentacion }}</td>
                                <td>{{ dato.id_producciondiaria }}</td>
                                {% if dato.id_mortades %}
                                    <td>{{ dato.id_mortades }}</td>
                                {% else %}
                                    <td>No aplica</td>
                                {% endif %}
                                <td>{{ dato.fecha }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                {% else %}
                    <tbody class="text-center mx-auto"></tbody>
                {% endif %}
            </table>
        </div>
    </div>
    
    <div class="row container-fluid text-end my-4">
        <div class="col-md col-sm">
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary" style="border: 2px solid">EXPORTAR <i class="bi bi-file-earmark-arrow-down"></i></button>
            </form>
        </div>
    </div>

{% endblock contenido %}