<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="{% url 'crear_galpon'%}" enctype="multipart/form-data" method="post">
        <div class="modal-header">
          {% load static %}
          <h3 class="modal-title">Registrar galpon</h3>
          <img class="ml-3" src="{% static 'images/sena_logo.png' %}" alt="Logo Sena" style="width: 4rem">
        </div>
        <div class="modal-body">
          {% include 'galpones/form.html' %}
            </div>
        </div>
        <div class="modal-footer text-center">
          <input class="btn btn-outline-success" type="submit" value="Enviar informacion">
          <a role="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</a>
        </div>
      </form>
    </div>
</div>