{% extends 'base_inicio.html' %}
{% load static %}

{% block titulo %}
  contraseña
{% endblock titulo %}

{% block contenido %}

    {% load static %}

    {% if validlink %}

        <div class="container text-center">
            <h2>Cambiar contraseña</h2>

            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 mt-4">
                        <label class="form_label">Nueva contraseña</label>
                        {{form.new_password1}}
                        {{form.new_password.errors}}
                    </div>

                    <div class="col-12 mt-4">
                        <label class="form_label">Confirme la contraseña</label>
                        {{form.new_password2}}
                        {{form.new_password.errors}}
                    </div>

                    <div class="col-12 mt-3">
                        <input type="submit" class="btn btn-outline-success">
                    </div>
                </div>
            </form>
        </div>

    {% else %}

        <div class="container text-center">
            <h1>ENLACE INVALIDO. ESTE ENLACE YA HA SIDO UTILIZADO</h1>
        </div>

    {% endif %}

{% endblock contenido %}