{% extends 'base_inicio.html' %}
{% load static %}

{% block titulo %}
  contraseña
{% endblock titulo %}

{% block contenido %}

    {% load static %}

    {% if validlink %}

        <div class="container text-center">

            <form class="formPswrd mx-auto" method="post" enctype="multipart/form-data">
                <h2 class="mb-3">Cambiar contraseña</h2>
                {% csrf_token %}
                <div class="row">
                    {% for contrasena in form %}
                        <div class="col-12 mb-3">
                            <label class="form-label">{{contrasena.label}}</label>
                            <input
                            type="password"
                            class="form-control"
                            name="{{contrasena.name}}"
                            id="{{contrasena.id_newpassword}}" />
                        </div>
                    {% endfor %}

                    {% if form.errors %}
                        <div class="col-12 mt-3 alert alert-danger">
                            {{form.errors}}
                        </div>
                    {% endif %}

                    <div class="col-12 mt-3">
                        <input type="submit" class="btn btn-outline-success">
                    </div>
                </div>
            </form>
        </div>

    {% else %}

        <div class="container text-center formPswrd">
            <h3>Enlace invalido, este enlace ya ha sido utilizado</h3>
            <h3>Intenta con otro enlace</h3>
            <a class="btn btn-outline-success" href="{% url 'inicio' %}">Volver</a>
        </div>

    {% endif %}

{% endblock contenido %}